* {
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    margin: 0 auto;
    max-width: 750px;
}
body {
    position: relative;
    min-height: 300px;
    color: #3399cc;
    background-color: black;
    font-family: verdana,arial,geneva,helvetica,lucida,sans-serif;
    background-image: url("../img/banner.jpg?v=1.0");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    font-size: 1em;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: #ffff99;
}
hr {
    margin: 6px 0;
    width: 100%;
    text-align: center;
    color: #ffff99;
}
strong {
    font-weight: bold;
    color: #00ccff;
}
ul {
    padding-left: 1em;
}
.naglowek {
    float: left;
    width: 100%;
    height: 0;
    padding-top: 24%;
}
.menu {
    float: left;
    width: 20%;
    color: #ffff99;
}
.menu a {
    color: #ffffcc;
    text-decoration: none;
}
.menu a:hover {
    text-decoration: underline;
}
.content {
    position: relative;
    float: right;
    width: 80%;
    text-align: justify;
}
.content a {
    color: #00ddff;
    text-decoration: none;
}
.content a:hover {
    text-decoration: underline;
}
.group:after {
    content:"";
    display: table;
    clear: both;
}
.group {
    padding: 0.5em;
}
.stopka {
    text-align: center;
    font-size: 0.8em;
    color: #ffff99;
}
.stopka a {
    color: #ffffcc;
    text-decoration: none;
}
.stopka a:hover {
    text-decoration: underline;
}
.copy {
    color: #666666;
    font-size: 0.7em;
}
.copy a {
    color: #666666;
    text-decoration: none;
}
.copy a:hover {
    text-decoration: underline;
}

.news .title {
    font-weight: bold;
    color: #00ddff;
}
.news .author {
    text-align: right;
}
.members {
    text-align: left;
}
span.member_new {
    color: yellow;
}
span.member_promotion {
    color: #00ff00;
}
span.member_degradation {
    color: #ff3333;
}
.members_clevel_section {
    padding-bottom: 1em;
}
.members_member span:first-child, .members_member span:nth-child(2), .members_member span:nth-child(4) {
    font-size: 0.8em;
}
.members_member span:nth-child(4) {
    color: #2288bb;
}
.bios {
    position: absolute;
    right: 0;
    top: 2.5em;
    color: #ffff99;
    font-size: 0.85em;
}
div.bios a {
    color: #ffffcc;
    text-decoration: none;
}
div.bios a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 750px) {
    .menu {
        display: none;
    }
    .content {
        float: none;
        width: auto;
    }
}