{% extends 'base.html.twig' %}

{% block content %}
<h1>Kodeks Klanu</h1>
<hr>
        <strong><a href="#1">1. Zasady klanowe</a></strong>
    <br><strong><a href="#2">2. Hierarchia w klanie</a></strong>
    <br><strong><a href="#3">3. Inne przepisy</a></strong>
    <br><strong><a href="#4">4. Informacje dodatkowe</a></strong>
    <br><br>
    <hr>
    <br><strong id="1">1. Zasady klanowe:</strong>
    <br><br>
    1.1. Każdy klanowicz ma obowiązek przestrzegania zasad Cygnus Division
    oraz zasad klanowych, zachowywania kultury osobistej i okazywania
    szacunku pozostałym klanowiczom i symbolom klanowym.
    <br><br>
    1.2. Każdy klanowicz ma obowiązek identyfikowania się z Klanem poprzez
    godne Jego reprezentowanie i noszenie przysługującego mu totemu
    klanowego. Avatarów zobowiązuje się do ustawienia klanowego ranka.
    <br><br>
    1.3. Pomoc udzielana wspóklanowiczom ma być pomocą bezinteresowną.
    <br><br>
    1.4. Wszystkich klanowiczy obowiązuje zakaz wyłączania kanału klanowego.
    <br><br>
    1.5. O nieobecności dłuższej niż dwa tygodnie należy powiadomić Oficerów lub Wodza.
    W wypadku braku takiej informacji, klanowicz będzie tracił
    1 poziom klanowy / 2 tygodnie aż do usunięcia z klanu.
    <br><br>
    1.6. Wszyscy klanowicze zobowiązani są do częstego i systematycznego
    zapoznawania się z cmotd i czytania notek na tablicy klanowej.
    <br><br>
    1.7. Każdy klanowicz ma obowiązek okazywania szacunku i posłuszeństwa
    Oficerom i Wodzowi Klanu.
    <br><br>
    <hr>
    <br><strong id="2">2. Hierarchia w klanie:</strong>
    <br>
    <br><strong>2.1. Poziom klanowy L - Wódz Klanu</strong>
    <br><br>
    Wódz Klanu ma pełną władzę nad wszelkimi formami działalności Klanu i klanowiczy. Jego zatwierdzeniu podlegają decyzje podejmowane przez Oficerów. Awans na ten poziom następuje w momencie złożenia urzędu przez aktualnego Wodza, który wyznacza swojego następcę biorąc pod uwagę głosy Oficerów lub w przypadku kiedy nie jest w stanie pełnić dalej swojej funkcji,  Wódz zostaje odwołany przez głosowanie Oficerów i interwencje u Nieśmiertelnych .  W momencie odwołania starego Wodza opiekę nad klanem musi przejąć nowo obrany Wódz Klanu.
    <br>
    Możliwości: Clanset, skills.
    <br>
    <br><strong>2.2. Poziomy klanowe 1 i 2 - Oficerowie </strong>
    <br><br>
    Poziomy klanowe przeznaczone dla klanowiczy najstarszych stażem klanowym, szczególnie mocno zasłużonych dla Klanu i zasługujących na największe zaufanie oraz szacunek wszystkich klanowiczy. Posiadacze tych poziomów obowiązkowo pełnią funkcje oficerskie i podoficerskie, oraz kierują działaniami klanowiczy oddelegowanych do konkretnych zadań (mianowanych).  Awanse i degradacje w obrębie tej grupy przydzielane są na podstawie dyskusji wewnętrznych pomiędzy Oficerami oraz Wodzem klanu.
    <br>
    Możliwości (1 clev): Account, place, war.
    <br>
    Możliwości (2 clev): Outcast, promote, chistory.
    <br>
    <br><strong>2.3 Poziom klanowy 3  - Zasłużeni klanowicze</strong>
    <br><br>
    Poziom klanowy przeznaczony dla klanowiczy o długim stażu i dużych zasługach dla klanu. Wspomagają Oficerów w zarządzaniu klanem.
    <br>
    Możliwości: Container, make, comment.
    <br>
    <br><strong>2.4. Poziom klanowy 4 - Zaufani klanowicze</strong>
    <br><br>
    Poziom klanowy przeznaczony dla klanowiczy o znacznym stażu i zasługach dla klanu. Ten poziom jest dla nich przystankiem przed najwyższą rangą dostępną dla  klanowicza.
    <br>
    Możliwości: Induct, chedit.
    <br>
    <br><strong>2.5. Poziomy klanowe 5 - 6 - aktywni klanowicze</strong>
    <br><br>
    Poziom klanowy przeznaczony dla klanowiczy, którzy uzyskali avatara. Klanowicze pełnia funkcje wyznaczone im przez Oficerów, lub podążają ścieżką niezwiązaną z żadnymi funkcjami i obowiązkami licząc na przychylne spojrzenie Wodza czy Oficerów. Są to poziomy próby: wytrzymałości, odpowiedzialności, zaangażowania.
    <br>
    Możliwości: Wszystkie poniższe.
    <br>
    <br><strong>2.6. Poziom klanowy 7 - aktywni klanowicze / wykazujące(-cy) się nie- avatarzy</strong>
    <br><br>
    Poziom klanowy przeznaczony dla klanowiczy , którzy uzyskali  avatara oraz dla wybitnie wykazujących się nie-avatarów, o długim stażu klanowym. Klanowicz, począwszy od poziomu 7, może zajmować się konkretnymi funkcjami w klanie do których zostaje przypisany przez Oficerów (mianowanie). Awanse i degradacje powiązane są z jego zasługami na tym polu. Nie-avatarzy wyższy poziom klanowy mogą uzyskać dopiero po osiągnięciu 50 levelu.
    <br>
    Możliwości: Members.
    <br>
    <br><strong>2.7. Poziom klanowy 8 - nieaktywni klanowicze</strong>
    <br><br>
    Poziom przeznaczony dla nie-avatarow oraz avatarow czasowo nieobecnych. Osoby te nie mają obowiązku  do brania czynnego udziału w życiu Klanu, jednakże są zobowiązane do przestrzegania Kodeksu Klanu. Decyzje o awansie lub degradacji klanowicza na ten poziom podejmują Oficerzy oraz Wódz.
    <br>
    Możliwości: Chelp, note, enter, get.
    <br>
    <br><strong>2.8. Poziom klanowy 9 - poziom tymczasowy</strong>
    <br><br>
    Jest to poziom przeznaczony dla klanowiczy nowoprzyjętych, starych klanowiczy oraz odbywających karę. Klanowicze nowoprzyjęci pozostają na tym poziomie przez czas potrzebny Oficerom na podjęcie decyzji o awansie na wyższy poziom klanowy, lub usunięciu z klanu. Klanowicze zdegradowani na poziom 9, w ramach kary, w przypadku braku poprawy zostają z Klanu usunięci. Decyzję o degradacji klanowicza na poziom tymczasowy, lub jego usunięciu z Klanu podejmują Oficerowie na podstawie wzajemnej dyskusji, a jeżeli zaistnieje taka potrzeba - w porozumieniu z Wodzem klanu.
    <br>
    Możliwości: Practice.
    <br><br>
    <hr>
    <br><a name="3"></a><strong>3.  Inne przepisy:</strong>
    <br>
    <br><strong>3.1 Członek klanu mianowany </strong>
    <br><br>
    Każdy klanowicz począwszy od 7 poziomu klanowego ma prawo przynależności i pełnienia w klanie konkretnych funkcji, określonych odrębnymi przepisami. Klanowicz może pełnić kilka funkcji jednocześnie. Kilku klanowiczy może jednocześnie pełnić tą samą funkcję - zobowiązuje się ich do wzajemnej współpracy w wybranej dziedzinie. Wszyscy klanowicze pełniący określone funkcje podlegają pod Oficerów i Wodza klanu.
    W razie nie wykonywania przynależnych zadań, klanowicz traci swoją przynależność co jednak nie odbywa się  innym kosztem (np.. poziomu klanowego).
    <br>Możliwości (klanowicz d/s.): Zaopatrzenia, porządków, eksploracji, chelpow, newbie, wojny i inne.
    <br>
    <br><strong>3.2 Posiadanie drugiej postaci w klanie</strong>
    <br><br>
    Postać która uzyska poziom avatara oraz  spełni określone wymagania (1500 qdone wykonanych w klanie, tytuł szlachecki Noble) może ubiegać się o przyjęcie drugiej postaci do klanu. W przypadku pozytywnego rozpatrzenia podania przez Oficerów i Wodza, otrzymuje ona taki sam poziom klanowy, pod warunkiem uzyskania avatara postacią. W innym przypadku posiada poziom klanowy 8. Pełni także takie same funkcje jak pierwsza postać. Klanowicz dysponujący dwiema postaciami ma obowiązek brania czynnego udziału w życiu klanu. W przypadku nie spełniania tego wymogu druga postać zostanie usunięta z klanu w pierwszej kolejności. Awanse / degradacje / kary i inne dotyczą obydwu postaci w takim samym zakresie. Wszelkie głosowania należy odbywać tylko jedna postacią - oddanie podwójnego głosu powoduje, iż żaden nie będzie brany pod uwagę.
    <br><br>
    <hr>
    <br><a name="4"></a><strong>4. Informacje dodatkowe:</strong>
    <br><br>
    Dodatkowe informacje, wyjaśnienia i komentarze znajdują się w helpie klanowym - chelp Kodeks.
{% endblock %}
