{% extends 'base.html.twig' %}
{% set page_title = 'Linki' %}

{% block content %}
<h1>{{ page_title }}</h1>
<hr>
    Strona MUDa Cygnus Division - <a href="http://www.cygnusdivision.pl">www.cygnusdivision.pl</a>
    <br>
    <br>
    Strona Keryna - <a href="http://www.keryn.civ.pl">www.keryn.civ.pl</a>
    <br>
    Strona Luny - <a href="http://www.fuw.edu.pl/~luna/ilhimu.html">Ilustrowana historia muda wg Luny</a> oraz <a href="http://www.fuw.edu.pl/~luna/mud.html">MUD - budowa krainek</a>
    <br>
    Strona Halona - <a href="http://www.manta.univ.gda.pl/~akazimie/index02.html/">Halon Mage Site</a>
    <br>
    Forum Cygnus Division - www.ashke.prv.pl/forum/
    <br>
    Strona Eldakara - eldakar.demon.pl
    <br>
    Strona Nomisa - nomis.prv.pl
    <br>
    Strona Sharka - <a href="http://www.akron.wroc.pl/~shark/">O założeniu Cygnusa i jego rozwoju od marca 1996 roku</a>
    <br>
    <br>
    Strona klanu Dzieci Iluvatara - www.diluvatara.prv.pl
    <br>
    Strona klanu Riders of Theli - rot.lgs.net.pl
    <br>
    Strona klanu S*C*S - droc.republika.pl
    <br>
    Strona klanu ZNC - <a href="http://www.znc.pl">www.znc.pl</a>
    <br>
    Strona klanu Aes Sedai - www.ohen.ry.pl/aessedai
    <br>
    Strona klanu Ash'k'Ente - www.ashke.prv.pl
    <br>
    Strona klanu Azkaban Lairs Guards - azkaban.gsk.pl
    <br>
    Strona klanu DEMONs - www.demonki.prv.pl
    <br>
    Strona klanu Devil's Spawn - www.devils-spawn.kgb.pl
    <br>
    Strona klanu Guardians of Faith - klan-gof.prv.pl
    <br>
    Strona klanu MIECZ - www.miecz.prv.pl
    <br>
    Strona klanu SEVEN - www.kla n-seven.prv.pl
    <br>
    Strona klanu Wyslannicy Palladine'a - www.wyslannicy.bo.pl
{% endblock %}
