{% extends 'base.html.twig' %}
{% set page_title = 'Logi' %}

{% block content %}
<h1>{{ page_title }}</h1>
<hr>
    Logi podzielone są na trzy działy:
    <br><br>
    <strong><a href="{{ path('rozmowy') }}">rozmowy</a></strong> - ciekawe rozmowy zarejestrowane na kanale [is] i nie tylko
    <br><br>
    <strong><a href="{{ path('logi-members') }}">members</a></strong> - logi komendy 'members' aktualizowane mniej więcej co miesiąc
    <br><br>
    <strong><a href="{{ path('who-is') }}">who -=#IS#=-</a></strong> - logi komendy 'who -=#IS#=-' rejestrowanej o różnych porach roku, dnia i godziny
{% endblock %}
