{% extends 'base.html.twig' %}

{% block content %}
<h1>Logi - members</h1>
<hr>
    Przedstawiamy kilka najstarszych logów komendy 'members'. Więcej dostępnych jest w sekcji <a href="{{ path('misiaki') }}">mISiaki</a>
    <br />
    <hr>
    <br />
    Najstarszy log z komendy members jaki udało mi się zdobyć: <strong>5&nbsp;września 2001 roku.</strong>
    Jest to prawdopodobnie najstarszy wykaz komendy members, ponieważ mniej więcej w tym czasie komenda ta została udostępniona. Co było wcześniej wiedzą tylko najstarsi klanowicze, którzy z łezką w oku i butelką pangalaktycznego gardłogrzmota w dłoni wspominają stare dobre czasy.
    <br /><br />
    <pre>
    | Lv |        Gracz           | Rank
    |----|------------------------|-----
    | 0  | 50 Nec Megadeth        | SATAN
    | 0  | 50 Mag Wizzi           | SATAN
    | 1  | 18 Vam Vesaron         | Zazadca dusz
    | 3  | ?? ??? Moer            | Kaplan nowej ery chaosu
    | 3  | 50 Cle Palagrin        | Kaplan nowej ery chaosu
    | 4  | 50 Dru Shamur          | Mroczny kaplan
    | 4  | 50 Ran Wilhelm         | Mroczny kaplan
    | 5  | 50 Ran Effendi         | Mniejszy Mroczny Kaplan
    | 5  | 25 War Bostaf          | Mniejszy Mroczny Kaplan
    | 6  | 50 Cle Hipolit         | Lowca dusz
    | 6  | 50 War Disiz           | Lowca dusz
    | 6  | 50 Ran Kahir           | Lowca dusz
    | 6  | 50 Nec Ella            | Lowca dusz
    | 6  | 50 Ran Deresh          | Lowca dusz
    | 6  | 50 Mag Devon           | Lowca dusz
    | 7  | 16 Mag Ortoni          | Demoniczny Wojownik
    | 7  | 50 Nec Artamis         | Demoniczny Wojownik
    | 7  | ?? ??? Gorbash         | Demoniczny Wojownik
    | 7  | 37 Dru Aldar           | Demoniczny Wojownik
    | 7  | 50 Vam Leif            | Demoniczny Wojownik
    | 7  | ?? ??? Gallador        | Demoniczny Wojownik
    | 7  | 41 Cle Semir           | Demoniczny Wojownik
    | 7  | 37 Aug Xand            | Demoniczny Wojownik
    | 7  | 28 Nec Tirlidaf        | Demoniczny Wojownik
    | 7  | 46 Vam Tiwaz           | Demoniczny Wojownik
    | 7  | 30 Nec Hayabusa        | Demoniczny Wojownik
    | 7  | 50 War Kamarilla       | Demoniczny Wojownik
    | 7  | 12 Mag Solarisa        | Demoniczny Wojownik
    | 7  | ?? ??? Dira            | Demoniczny Wojownik
    | 7  | 50 Mag Haver           | Demoniczny Wojownik
    | 7  | 50 War Urgh            | Demoniczny Wojownik
    | 7  | 22 Mag Olthor          | Demoniczny Wojownik
    | 7  | 25 Vam Tauraja         | Demoniczny Wojownik
    | 7  | 46 Mag Tedixus         | Demoniczny Wojownik
    | 7  | 18 Nec Racknar         | Demoniczny Wojownik
    | 7  | 28 Cle Gorim           | Demoniczny Wojownik
    | 7  | 50 Nec Rizzam          | Demoniczny Wojownik
    | 7  | 35 Vam Grimann         | Demoniczny Wojownik
    | 7  | 50 Nec Evan            | Demoniczny Wojownik
    | 7  | 18 Dru Levecque        | Demoniczny Wojownik
    | 7  | 46 War Hungor          | Demoniczny Wojownik
    </pre>

{% endblock %}
