{% extends 'base.html.twig' %}

{% block content %}
<h1>Powitanie</h1>
<hr>
    Logi podzielone są na trzy działy:
    <br><br>
    <strong><a href="logi_rozmowy.php">rozmowy</a></strong> - ciekawe rozmowy zarejestrowane na kanale [is] i nie tylko
    <br><br>
    <strong><a href="logi_members.php">members</a></strong> - logi komendy 'members' aktualizowane mniej więcej co miesiąc
    <br><br>
    <strong><a href="logi_who.php">who -=#IS#=-</a></strong> - logi komendy 'who -=#IS#=-' rejestrowanej o różnych porach roku, dnia i godziny
{% endblock %}
