{% extends 'base.html.twig' %}
{% set page_title = 'Dodaj log members' %}
{% block content_class_name %}members{% endblock %}

{% block content %}
<div id="members-log-add-section">
    <div id="dodaj">Wklej output komendy <span class="inline-code">members</span> i naciśnij "Wyślij"</div>
    <form class="form" action="{{ path('misiaki-add') }}" method="post" name="members-log-add-form">
        <fieldset>
            <p>
                <label><span class="mandatory-parameter">*</span>Log:</label>
                <span class="form-data">
                    {% if too_often %}<span class="form-error">Jeszcze nie minęło odpowiednio dużo czasu od momentu dodania poprzedniego loga. To się nie uda :P</span>{% endif %}
                    {% if errors and not too_often %}<span class="form-error">Pole "Log" jest obowiązkowe.</span>{% endif %}
                    <textarea name="members-log-add-text" id="members-log-add-text" class="monospaced"></textarea>
                </span>
            </p>
            <p><label>&nbsp;</label><input type="submit" value="Wyślij" /></p>
        </fieldset>
    </form>
</div>
{% endblock %}
