{% extends 'base.html.twig' %}
{% set page_title = misiak['name'] %}

{% block content %}
    {{ render(url('bios-menu')) }}
    <h1>{{ page_title }}</h1>
<hr>
    {{ misiak['history']|raw }}


{% endblock %}
