{% extends 'base.html.twig' %}

{% block content %}
<h1>Powitanie</h1>
<hr>
Witaj w siedzibie Klanu Infernal Seed, istniejącego w świecie <a href="http://www.cygnusdivision.pl/" class="tresc">MUDa Cygnus Division</a>. Jeżeli
zechcesz opowiemy Ci więcej o naszym  Klanie, Jego długiej historii i
dniu dzisiejszym. Dowiesz się kim jesteśmy, poznasz zasady, którymi się
kierujemy i świat w jakim żyjemy. Świat pełen przygód i niespodzianek, w
którym drogę poprzez niebezpieczeństwa często trzeba torować sobie
orężem i magią. Dobrze jest mieć wtedy przy sobie dzielną drużynę
wiernych klanowiczów, służących zawsze wsparciem i pomocą. Kto wie, być
może gdy kiedyś spotkają się wiodące nas ścieżki, to okażesz się osobą
godną zasilić szeregi naszego Klanu.
{% endblock %}
