{% extends 'base.html.twig' %}
{% set page_title = 'Logi: rozmowy' %}
{% block content_class_name %}logs-chats{% endblock %}

{% block content %}
<h1>{{ page_title }}</h1>
<hr>
    <div class="title">{{ rozmowa['title'] }}</div>
    <br />
    <pre>{{ rozmowa['contents'] }}</pre>
    <div class="back-to-index"><a href="{{ path('rozmowy') }}">Powrót do spisu</a></div>
{% endblock %}
