{% extends 'base.html.twig' %}

{% block content %}
<h1>O stronie</h1>
<hr>
    Lista ludzi odpowiedzialnych za stworzenie i aktualizację tej strony:
    <br><br>
    Bostaf - pomysł, projekt, grafika, wykonanie
    <br>
    Deresh - estetyka, kolorystyka
    <br>
    Elund - skrypty php do działów "mISiaki" i "Aktualności"
    <br>
    Bergor i Ghalen - aktualizacja i psucie :&gt;
    <br>
    Kronin - hosting!
{% endblock %}
