{% extends 'base.html.twig' %}
{% set page_title = 'O stronie' %}

{% block content %}
<h1>{{ page_title }}</h1>
<hr>
    Lista ludzi odpowiedzialnych za stworzenie i aktualizację tej strony:
    <br><br>
    Bostaf - pomysł, projekt, grafika, wykonanie
    <br>
    Deresh - estetyka, kolorystyka
    <br>
    Elund - inspiracja do mem-diffa w dziale mISiaki
    <br>
    Bergor i Ghalen - aktualizacja i psucie :&gt;
    <br>
    Kronin - hosting!
    <br /><br />
    Chcesz coś zasugerować / zmienić: <a href="https://github.com/bostaf/is-silex">współpraca na GitHubie</a>.
{% endblock %}
