{% extends 'base.html.twig' %}

{% block content %}
<h1>Totemy</h1>
<hr>
    <strong>Totem Protekcji</strong>
    <br><br>
    <br>jest zbroją przeznaczoną dla graczy od <strong>30</strong> poziomu. Przedmiot ten waży 1kg i wart
    jest 0 złotych monet. Totem można założyć jako symbol klanowy. Jest to rzecz
    klanowa Rzecz ta jest magiczna. Klasa zbroi totemu wynosi <strong>10</strong>.
    <br>Affects <strong>luck</strong> by <strong>1</strong>.
    <br>Affects <strong>constitution</strong> by <strong>1</strong>.
    <br>Affects <strong>hit</strong> by <strong>15</strong>.
    <br>Affects <strong>damroll</strong> by <strong>3</strong>.
    <br>Affects <strong>hitroll</strong> by <strong>2</strong>.
    <br><br><hr>

    <strong>Totem Przeznaczenia</strong>
    <br><br>
    <br>jest zbroją przeznaczoną dla graczy od <strong>40</strong> poziomu. Przedmiot ten waży 1kg i wart
    jest 0 złotych monet. Totem przeznaczenia można założyć jako symbol klanowy.
    Jest to rzecz klanowa Rzecz ta jest magiczna. Klasa zbroi totemu przeznaczenia wynosi
    <strong>12</strong>.
    <br>Affects <strong>luck</strong> by <strong>2</strong>.
    <br>Affects <strong>hit</strong> by <strong>30</strong>.
    <br>Affects <strong>damroll</strong> by <strong>6</strong>.
    <br>Affects <strong>hitroll</strong> by <strong>5</strong>.
    <br><br><hr>

    <strong>Totem Chaosu</strong>
    <br><br>
    <br>jest zbroją przeznaczoną dla graczy od <strong>50</strong> poziomu. Przedmiot ten waży 1kg i wart
    jest 0 złotych monet. Totem chaosu można założyć jako symbol klanowy. Jest to
    rzecz klanowa Rzecz ta jest magiczna. Klasa zbroi totemu chaosu wynosi <strong>14</strong>.
    <br>Affects <strong>hit</strong> by <strong>50</strong>.
    <br>Affects <strong>damroll</strong> by <strong>10</strong>.
    <br>Affects <strong>save_breath</strong> by <strong>-4</strong>.
    <br>Affects <strong>save_spell</strong> by <strong>-4</strong>.
{% endblock %}
