{% extends 'base.html.twig' %}
{% set page_title = 'Umiejętności klanowe' %}

{% block content %}
<h1>{{ page_title }}</h1>
<hr>
    <strong>Clan recall</strong>
    <br>
    <br>Czar ten przeniesie Cię z prawie każdej lokacji prosto do Sali Odpraw w klanie. Czarem tym może sie posługiwać nawet taki głupi warrior jak ja (Bostaf), który teoretycznie powinien z ledwością posługiwać sie językiem do zwykłego mówienia, nie wspominając już o wypowiadaniu zaklęć. Jak już wcześniej wspomniałem, nie z każdej lokacji można sie będzie recallnąć - w takim wypadku polecam głośne krzyczenie o pomoc - czasami pomaga, jeżeli nie w wydostaniu sie z takiej lokacji, to na pewno w rozładowaniu stresu i napięcia.
    <br><br>
    <strong>Hibernate</strong>
    <br>
    <br>Umiejętność ta pozwoli Ci wprowadzić się w stan hibernacji. Stan hibernacji umożliwi Ci szybsze odzyskanie zdrowia (HP) i many (MP). Podczas tego osobliwego stanu nie będziesz zdolny wykonywać żadnych czynności (np.: czarować, jeść, pić) - jest jeden wyjątek - będziesz w stanie rozmawiać (tylko na kanałach). Hmmm, wygląda na to, że struny głosowe i usta posiadają nieznaną naukowcom odporność na zimno...
    <br><br>
    <strong>Deep meditation</strong>
    <br>
    <br>Kolejny bardzo przydatny skill. Deep meditation pozwala na szybką regenerację sił magicznych (many). Można go stosować nawet w walce!!!
    <br><br>
    <strong>Clan Flee</strong>
    <br>
    <br>Ucieczka z pola walki może być jednym ze sposobów na przeżycie walki, a w niektórych przypadkach jest jedynym sposobem na jej wygranie. Szczególnie złodzieje upodobali sobie taką taktykę walki. Standardowa ucieczka jest jednak "chaotyczna" - sam dokładnie nie wiesz czy uciekając nie dostaniesz się pod miecz jakiegoś groźniejszego przeciwnika. Dzięki skillowi Clan Flee będziesz w stanie lepiej zapanować nad swoimi poczynaniami w szale bitewnym i dokładnie ustalić kierunek, w którym chcesz uciekać.
    <br><br>
    <strong>Embitted dust</strong>
    <br>
    <br>Skill ten pozwala zaczarować broń magicznym Pyłem Goryczy - dzięki temu broń zadaje większe obrażenia - ok. 10%. Pył Goryczy ma, jak każda materia we wszechświecie swoją ograniczoną trwalość, dlatego po pewnym czasie zjełczeje, a jego pozostałości zwieje wiatr no i chcąc niechcąc będziemy zmuszeni do ponownego spożytkowania many (sporej ilości many) ku naszej chwale :-)
    <br><br>
    <strong>Berserk style</strong>
    <br>
    <br>Istnieje pięć stylów walki z czego dwa dostępne są tylko dla członków klanów. Są to berserk style i evasive style. Aby skutecznie je wykorzystywać (czyli płynnie zmieniać w trakcie walki) należy wyszkolić je do maksimum. Mamy w klanie moba treningowego, który bardo dobrze nadaje sie do szkolenia styli. Należy go zaatakowac i zmieniać w czasie walki style - tylko w ten sposób można wyszkolić się w płynnej zmianie styli.
    <br>Berserk jest najagresywniejszym stylem walki. Walcząc nim zadajesz poważne obrażenia, ale nie pozostawia on miejsca na inne czynności takie jak rzucanie czarów, picie eliksirów czy nawet mówienie. Ponadto skupiając się na brutalnych atakach osłabiasz Swoją obrone.
    <br><br>
    <strong>Evasive style</strong>
    <br>
    <br>Evasive jest stylem nastawionym głównie na obronę. Twoje ataki są słabsze ale dzięki temu masz możliwość rzucać czary, łykac mikstury i wykonywać inne, nawet nieprzydatne w walce czynności ;).
    <br><br>
    <strong>Terrify</strong>
    <br>
    <br> Doświadczeni wojownicy i magowie wiedza że samo doświadczenie wojenne i potencjał magiczny to nie wszystko żeby postrzegano nas jako potęnych Herosów. Ważne jest także, jak się poruszamy i co sobą reprezentujemy. Dzięki tej zdolności potrafimy zamrozić nasza twarz w groźnym grymasie. Widząc ja zmuszamy ich do ponownego oszacowania swoich sił wobec naszej,  nie decydując się jak dotychczas na szaleńcze (@muha) próby pokonania Nas.
    <br><br>
    <strong>Infect</strong>
    <br>
    <br> Zdolność ta pozwala na oślepienie przeciwnika podczas walki. Jest ono na tyle poważne,  że nie da się go wyleczyć tradycyjnymi metodami: maściami, czy miksturami, nawet magia pozostaje bezsilna.  Dodatkowo ofiara zostaje opatrzona klątwa, która uniemożliwia jej ucieczkę za pomocą recall'a.
    <br><br>
    <strong>Catch</strong>
    <br>
    <br> Doświadczenie mówi, że lepiej jest zabić przeciwnika od razu a niżeli pozwolić knuć mu intrygi przeciw nam w przyszłości. 'Catch' pozwala nam złapać przeciwnika kiedy ten usiłuje zbiec z walki. Skill działa tylko na graczy.
    <br><br>
    <strong>Magic shield</strong>
    <br>
    <br> Dzięki temu skill'owi jesteśmy w stanie wyzwolić moc z totemu klanowego, która otoczy nasze ciała magiczną tarczą chroniącą nas przed wrogimi zaklęciami.
{% endblock %}
